/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Limkin";
	src: url("assets/TMT-LimkinVF.ttf");
}

body {
	background-color: black;
}
	.container {

		margin: 30px auto;
			margin-bottom: 30px;
		position: relative;

		text-emphasis-color: white;
		background-color: rgb(0, 0, 0);
		border: solid 7px;
		padding: 30px;
		
		display: grid;
		border-color: blue;
		grid-template-columns: 1fr ;
		gap: 10px 20px;
		color: white;
		
		


	}

	
@media (max-width: 900px) {
	.container  {
		grid-template-columns: repeat(1 ,1fr) ;
	row-gap: 0px;
	column-gap: 0px;
	margin-bottom: 00px;
	padding: 0px;
	margin: 0px;
	}
	}
	@media (max-width: 1200px) {
		.container > .grid  {
			border-color:  purple ;
			
			
		}
	}
	@media (max-width: 1000px) {
		.container > .grid  {
			border-color:  rgb(0, 128, 17);
			
			
		}
	}
	@media (max-width: 700px) {
		.container > .grid  {
			border-color:  rgb(254, 157, 0);
			
			
		}
	}
	
  
  .container > .grid {
	flex-grow: 20px;
	color: white;
	position: relative;
 
	background-color: rgb(0, 0, 0);
	padding: 30px;
	text-align: center;
	border: 3px solid rgb(255, 0, 0);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.7s ease;
	.grid img {
		max-width: 100px;
		object-fit: contain;
	}
  }

.container2 {
	margin: 30px ;
	
	position: relative;

	display: grid;
	color: white;
	grid-template-columns: repeat(3 ,1fr);
	background-color: black;
	border: solid 3px;
	border-color: red;
	padding: 10px;
	margin-bottom: 30px;
}




.container2 > div {
	position: relative;
  
	border: solid 3px;
	border-color: white;
	display: grid;
	color: white;
	margin-bottom: 30px;

}

@media (max-width: 900px) {
	.container2  {
		grid-template-columns: repeat(1 ,1fr) ;
	row-gap: 0px;
	column-gap: 0px;
	margin-bottom: 00px;
	padding: 0px;
	margin: 0px;
	}
	}
	@media (max-width: 1200px) {
		.container2 > div  {
			border-color:  purple;
			
			
		}
	}
	@media (max-width: 1000px) {
		.container2 > div  {
			border-color:  rgb(0, 128, 17);
			
			
		}
	}
	@media (max-width: 700px) {
		.container2 > div  {
			border-color:  rgb(254, 157, 0);
			
			
		}
	}
	
.container3  {
	
	position: center;
	grid-auto-rows: 200px;
	box-sizing: border-box;

	overflow: scroll;
	margin: 30px ;
	position: static;
	bottom: 0;
	right: 0;
	width: 1000px;
	
	display: grid;
	color: white;
	grid-template-columns: repeat(2 ,2fr);
	border-color: yellow;
background-color: black;
column-gap: 30px;






}
.container3 > div {
	outline: 1px solid black;
			padding: 20px;
			overflow: scroll;
	grid-auto-rows: 100px;
	display: flex;
	flex-grow: 500;
	background-size: cover;
	background-position: center;
	position: relative;
	display: flex;
	
  
	border: solid 3px;
	border-color: yellow;
	display: grid;
	color: white;
	
}
.container3 > .div1 {
	
  border: none;
	background-color: black;
	
	
}

.container3 > .grid {
	color: white;
	position: relative;
 
	background-color: rgb(0, 0, 0);
	padding: 30px;
	text-align: center;
	border: 3px solid rgb(255, 0, 0);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.7s ease;
	overflow: scroll;
	
}
/* for the container to make it responsive */
@media (max-width: 1200px) {
	.container3  {
		border-color:  purple;
		position: relative;
		width: 900px;
		 column-gap: 25px;
	}
	}
	@media (max-width: 1000px) {
		.container3  {
			border-color:  purple;
			position: relative;
			width: 700px;
			 column-gap: 20px;
			
		}
	
}
@media (max-width: 700px) {
	.container3  {
		position: relative;
		width: 500px;
		 column-gap: 0px;
		
	}

}

@media (max-width: 300px) {
	.container3  {
		position: relative;
		width: 50px;
		 column-gap: 0px;
		
	}

}
/* for the div to make it responsive and change color */
@media (max-width: 1200px) {
	.container3 > div  {
		border-color:  purple;
		
		
	}
}
@media (max-width: 1000px) {
	.container3 > div  {
		border-color:  rgb(0, 128, 17);
		
		
	}
}
@media (max-width: 700px) {
	.container3 > div  {
		border-color:  rgb(254, 157, 0);
		
		
	}
}
  	.grid img {
		max-width: 100px;
		max-height: 100px;
	}

	.container > img {
		border: 3px solid #ff0000;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
.grid:hover {
	
	display: flex;
	flex-grow: 500;
	background-image: url("https://i.pinimg.com/originals/1b/af/f3/1baff3dcbd58d0b9b095a9573be372fb.gif");
	background-size: cover;
	background-position: center;
	color: transparent;
	opacity: 1
	
}

h2 {
	margin: 20px;
}
p {
	margin: 20px;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}