/* This is a CSS override! It overrides default values for ALL elements. */
/* I highly recommend keeping this override in your code. */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@font-face {
	font-family: "Limkin";
	src: url("assets/TMT-LimkinVF.ttf");
}

body {
	background-color: black;
}
	.container {
		text-emphasis-color: white;
		background-color: rgb(0, 0, 0);
		border: solid 3px;
		padding: 30px;
		
		display: grid;
		border-color: blue;
		grid-template-columns: 1fr 3fr;
		gap: 10px 20px;
		color: white;
		
		


	}
  
  .container > .grid {
	color: white;
	
	background-color: rgb(0, 0, 0);
	padding: 30px;
	text-align: center;
	border: 3px solid rgb(255, 0, 0);
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.3s ease;
	.grid img {
		max-width: 100px;
		object-fit: contain;
	}
  }

.container2 {
	display: grid;
	color: white;
	grid-template-columns: repeat(3 ,1fr);
	background-color: black;
	border: solid 3px;
	border-color: red;
	padding: 10px;
}

.container2 > div {
	border: solid 3px;
	border-color: white;
	display: grid;
	color: white;

}



  	.grid img {
		max-width: 100px;
		max-height: 100px;
	}

	.container > img {
		border: 3px solid #ff0000;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
.grid:hover {
	
	display: flex;
	flex-grow: 500;
	background-image: url("https://i.pinimg.com/originals/1b/af/f3/1baff3dcbd58d0b9b095a9573be372fb.gif");
	background-size: cover;
	background-position: center;
	color: transparent;
	opacity: 1
	
}

h2 {
	margin: 20px;
}
p {
	margin: 20px;
}
ul {
	margin: 20px;
}
li {
	margin: 20px;
}